.PopularTopicSectionAni {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PopularTopicSectionLottie {
  width: 300px;
}

.PopularTopicSectionAniContent {
  text-align: center;
  color: var(--black);
  font-size: 15px;
}

.PopuplarTopicSectionHighlight {
  color: var(--primary);
}

@media (min-width: 768px) {
  .PopularTopicSectionAni {
    width: 100%;
    flex-direction: row;
    gap: 50px;
  }

  .PopularTopicSectionLottie {
    width: 400px;
  }

  .PopularTopicSectionAniContent {
    font-size: 25px;
  }

  .PopuplarTopicSectionHighlight {
    color: var(--primary);
  }
}