.PopularTopicSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 100px;
  
  margin: 300px 0;
}

@media (min-width: 768px) {
  .PopularTopicSectionContainer {
    padding: 2rem 0;
  }

  .PopularTopicSectionImage {
    width: 14rem;
  }

  .PopularTopicSectionH1 {
    margin: 5rem 0 7rem 0;
    font-size: 2rem;
  }

  /* showcase 디자인 */
  .ShowcaseItem {
    width: 18rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
