.FeedbackContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FeedbackTitle {
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--black);
}

.FeedbackTextarea {
  width: 55%;
  height: 55%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  /* text-align: center; */
  border-radius: 1rem;
  border-color: var(--grey);
  border-width: 1px;
  resize: none;
  overflow-y: auto;
}

.FeedbackTextarea:focus {
  outline: none;
  border-color: var(--primary);
  border-width: 1px;
  scale: 1.01;
}

.FeedbackTextarea::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}

.FeedbackTextarea::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px;
  border-radius: 10px;
}

.FeedbackTextarea::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤 핸들 색상 */
  border-radius: 10px;
}

.FeedbackTextarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* 호버 시 색상 변경 */
  cursor: pointer;
}

.FeedbackSubmitButton {
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: var(--primary);
  color: var(--sliver);
  border-radius: 10px;
  border: none;
  display: block;
}
