.HeaderContainer {
    width: calc(100vw - 40px);
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 헤더 상단 고정 */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #FFFFFF;

    padding: 0px 20px;
}

/* 스크롤 시 헤더 스타일 지정 */
#Scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.HeaderLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.HeaderLogoImage {
    width: 6.5rem;
    height: auto;
}

.HeaderTeamInfoLink {
    width: auto;
    height: auto;
    margin-top: 0.1rem;
    font-size: 1rem;
    /* a 태그 스타일 지정 */
    text-decoration-line: none;
}

.HeaderContainer a:link {
    color: black;
}

.HeaderContainer a:visited {
    color: #4D4D4D;
}

.HeaderContainer a:hover {
    color: #E86912;
}

.HeaderSubscribeButton {
    width: auto;
    height: auto;

    font-size: 0.9rem;
    padding: 0.8rem 1.2rem;
    background-color: #E86912;
    color: white;
    border-radius: 0.8rem;
    border: 0;
}

/* 반응형 구현 */ 
@media (min-width: 1024px) {   
    .HeaderContainer {
        width: calc(100vw - 80px);
        padding: 0px 40px;
    }
    
    .HeaderLogoImage {
        width: 9rem;
    }

    .HeaderTeamInfoLink {
        font-size: 1.2rem;
    }
    
    .HeaderSubscribeButton {
        font-size: 1.2rem;
        padding: 1.1rem 1.5rem;
    }
}
  