.UnsubscribeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.UnsubscribeTitle {
  font-size: 2.2rem;
  color: var(--primary);
}

.UnsubscribeText {
  font-size: 1.3rem;
  color: var(--black);
  line-height: 2.4rem;
  text-align: center;
}

.UnsubscribeSubmitButton {
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: var(--primary);
  color: var(--sliver);
  border-radius: 10px;
  border: none;
  display: block;
}
