.content-detail-section-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 4rem;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content-detail-section-title {
  width: 100%;
  font-size: 2rem;
}

.content-detail-section-summary {
  width: 100%;
  font-size: 1.2rem;
  line-height: 2.3rem;
  padding: 0rem 0.5rem;
}

.content-detail-section-text {
  width: 100%;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.content-detail-section-list {
  padding: 0rem 1.5rem 0rem 2.5rem;
  font-size: 1rem;
}

.content-detail-section-list li {
  margin-bottom: 1rem;
}

.content-detail-section-list a {
  text-decoration-line: none; /* 밑줄 제거 */
  color: var(--grey);
}

.content-detail-section-list a:hover {
  color: var(--primary);
}
