.team-info-section-container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transition: all 0.3s ease-in-out;
}

.team-info-section {
  font-size: 1.9rem;
  text-align: center;
  color: var(--black);
}

.team-info-section-highlight {
  color: var(--primary);
  font-weight: bold;
}

.team-info-card {
  background: var(--white);
  padding: 2.5rem 3rem 2.5rem 3rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.team-info-section-title {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: var(--d-grey);
}

.team-info-section-text {
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: var(--d-grey);
  list-style: none;
}

.team-info-section-text-list {
  font-size: 1rem;
  line-height: 2em;
  list-style: none;
  color: var(--d-grey);
}

.team-info-section-text-list li {
  margin-bottom: 0.5rem;
}

.team-info-section-list {
  font-size: 1rem;
  line-height: 2em;
  list-style: none;
  color: var(--d-grey);
}

.team-info-section-list li {
  margin-bottom: 1.5rem;
  padding: 1.3rem 2.2rem 1.3rem 2.2rem;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.team-info-section-list li:hover {
  background: var(--primary);
  color: var(--white);
}
