.settingInfo {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--sliver);
  border-radius: 10px;
  border-left: 4px solid var(--primary);
}

.settingInfo h3 {
  margin-top: 0;
  color: var(--black);
  font-size: 1rem;
}

.settingInfo p {
  margin: 0.5rem 0;
  color: var(--d-grey);
}