.MailHeaderContainer {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* 헤더 상단 고정 */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  padding: 10px 20px;
}

.MailHeaderLogoImage {
  width: 6.5rem;
  height: auto;
}

/* 반응형 구현 */
@media (min-width: 1024px) {
  .MailHeaderContainer {
    padding: 15px 70px;
  }
}
