.ClosingSectionContainer {
    width: auto;
    height: auto;
    background-color: #F5F7FA;
    padding: 2rem 0 4rem 0;
}

.ClosingSectionSubscribeText {
    width: auto;
    height: auto;
    text-align: center;
    color: #4D4D4D;
    font-size: 1.4rem;
    margin: 3rem 0;
}

.ClosingSectionSubscribeButton {
    width: auto;
    height: auto;
    font-size: 1.4rem;
    padding: 1.1rem 2.4rem;
    background-color: #E86912;
    color: white;
    border-radius: 1.1rem;
    border: 0;
    margin: auto; /* 가로 중앙 정렬 */
    display: block; /* 블록 요소로 변경 */
}

.ClosingSectionHighlight {
    color: #E86912;
}