.PopuplarTopicSectionContainer {
    width: 100vw;
    height: auto;
    padding: 1rem 0;
}

.PopuplarTopicSectionImage {
    width: 14rem;
    height: auto;
    margin: auto; /* 가로 중앙 정렬 */
    display: block; /* 블록 요소로 변경 */
}

.PopuplarTopicSectionH1 {
    width: auto;
    height: auto;
    padding: 1.5rem 0;
    margin: 3rem 0 5rem 0;
    text-align: center;
    color: #4D4D4D;
    font-size: 1.6rem;
}

.PopuplarTopicSectionHighlight {
    color: #E86912;
}

.PopuplarTopicSectionChart {
    width: 100vw;
    height: auto;
    text-align: center;
    color: #4D4D4D;
    font-size: 1rem;
    margin: 6rem 0 8rem 0;
}

.PopuplarTopicSectionChart h2{
    margin-bottom: 1.5rem;
}

/* showcase 디자인 */
.PopuplarTopicSectionShowcase {
    width: 100%;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; /* absolute 아이템 정렬을 위해 추가 */
    margin: 5rem 0 13rem 0;
}

.ShowcaseItem {
    width: 13rem;
    height: 10rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.3rem 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.8rem;
    background-color: #E86912;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
  