.PopuplarTopicSectionContainer {
    width: 100vw;
    height: auto;
    padding: 1rem 0;
}

.PopuplarTopicSectionImage {
    width: 14rem;
    height: auto;
    margin: auto; /* 가로 중앙 정렬 */
    display: block; /* 블록 요소로 변경 */
}

.PopuplarTopicSectionH1 {
    width: auto;
    height: auto;
    padding: 1.5rem 0;
    margin: 3rem 0 5rem 0;
    text-align: center;
    color: #4D4D4D;
    font-size: 1.6rem;
}

.PopuplarTopicSectionHighlight {
    color: #E86912;
}

.PopuplarTopicSectionChart {
    width: 100vw;
    height: auto;
    text-align: center;
    color: #4D4D4D;
    font-size: 1rem;
    margin: 6rem 0 8rem 0;
}

.PopuplarTopicSectionChart h2{
    margin-bottom: 1.5rem;
}
