* {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;

  --primary: #e86912;
  --secondary: #f2a774;

  --blue: #2194f3;

  --shade-1: #d45500;
  --shade-2: #c04100;
  --shade-3: #a23700;

  --tint-1: #ed8741;
  --tint-2: #f1a571;
  --tint-3: #f6c3a0;

  --black: #263238;
  --d-grey: #4d4d4d;
  --grey: #717171;
  --l-grey: #89939e;
  --grey-blue: #abbed1;
  --sliver: #f5f7fa;
  --white: #ffffff;
  --white-grey: #e0e0e0;

  --error: #ff4757;
  --error-background: #fff5f5;
}
