/* 지수 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'S-CoreDream-3Light';
    font-weight: 700;

    --primary : #E86912;
    --secondary: #f2a774;
    --info: #2194F3;

    --shade-1: #D45500;
    --shade-2: #C04100;
    --shade-3: #A23700;

    --tint-1: #ED8741;
    --tint-2: #F1A571;
    --tint-3: #F6C3A0;
}