.add-content-container {
  width: 100%;
  height: 100%;
}

.add-content-field {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.add-content-label {
  width: 10%;
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  color: var(--black);
}

.add-content-text {
  width: 80%;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  color: var(--black);
}

.add-content-text:focus {
  outline: none;
  border-color: var(--primary);
}

.add-content-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
}

.add-content-submit-button {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary);
  cursor: pointer;
}
