.admin-header {
    background-color: var(--white);
    border-bottom: 1px solid var(--white);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 10;
}
  
.admin-logo {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(-d-grey);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}